h2 {
    color: #2795ee;
    padding-left: 20px;
}
h3 {
    color: #999999;
    padding-left: 20px;
}
pre {
   background-color: ghostwhite;
   border: 1px solid silver;
   padding: 10px 20px;
   margin: 20px; 
   overflow: hidden;
   }
.request {
   background-color: ghostwhite;
   border: 1px solid silver;
   padding: 10px 20px;
   margin: 20px; 
   }
.json-key {
   color: brown;
   }
.json-value {
   color: navy;
   }
.json-string {
   color: olive;
}
.wrap {
    margin: 0 20px;
}
.properties-table {
    width: 100%;
    border-collapse: collapse;
}
.row {
    /*background-color: #FFFAF3;*/
    background-color: #F3FFF0;
    border: 1px solid silver;
    padding: 0;
}
.row.error {
    background-color: #FFFAF3;
}
.row .name {
    vertical-align: top;
    color: #2795ee;
    width: 100px;
    padding: 10px 15px;
    font-size: 14px;
}
.row .scode {
    vertical-align: top;
	border-left: 1px solid silver;
    color: #2795ee;
    width: 100px;
    padding: 10px 15px;
    font-size: 20px;
}
.row .name b {
    font-size: 20px;
    display: inline-block;
    padding-bottom: 5px;
}
.row .description {
    vertical-align: top;
    border-left: 1px solid silver;
    padding: 10px 15px;
    font-size: 14px;
}
.row .description b {
    font-size: 20px;
    display: inline-block;
    padding-bottom: 5px;
}

.url {
    color: brown;
}
.url_sep {
    font-weight: bold;
    color: green;
}
.url_amp {
    font-weight: bold;
    color: green;
}
.url_param {
    font-weight: bold;
    color: navy;
}
.url_eq {
    color: gray;
}
.url_value {
    color: olive;
}

#leftcol { /* Левая колонка */
  float: left; /* Обтекание справа */
  width: 200px; /* Ширина колонки */
}
#rightcol {
    margin-left: 225px;
    background:#fcfbf6;
    padding: 10px 0;
}
.main_menu {
    list-style: none;
    padding-left: 20px;
}
.main_menu li a {
    text-decoration: none;
    color: #2795ee;
}
.main_menu li a:hover {
    color: navy;
}