################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SmartFood/obj/Debug
/SmartFood/bin/Debug/.vs/SmartFood/v14/.suo
/api/v1/logs
/api/v2
